*{
    box-sizing: border-box;
}
.container{
    width: 90%;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
}
.images{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.image{
    padding: 1rem;
}
.images img{
    width: 300px;
    height: 300px;
    display: block;
    box-shadow: 2px 2px 3px black;
}
.heading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4rem;
    letter-spacing: 3px;
    color: blue;
}
#search{
    width: 300px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    background-color: #797575;
    border: none;
    color: white;
}
#btn{
    width: 80px;
    height: 34px;
    border-radius: 10px;
    border: none;
    background-color: greenyellow;
    cursor: pointer;
}
#form{
    margin-bottom: 20px;
}
#clearButton{
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}